variables.py
run.bat
venv/
.idea/
__pycache__/
dowyrzucenia.html
futsal.sqbpro
work/
static/video/processed/*
static/video/replays/*.mp4
static/video/replays/*.mkv
static/video/stream/*
instance/
static/images/*
static/video/*
.eslintrc.json
*_bak.*
start_obs_main.*
utils/ball_tracker.py
yolov8n.pt
yt_shorts.avi