td.invisible{
    width: 0;
    color: rgba(0,0,0,0);
    padding: 0;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

td .visible{
    width:1%;
    white-space: nowrap;
}

.number{
    width: 40px;
}

td {
    text-align: center;
}

.nr-of-tricot-colors {
    width: 50px;
}

.tricot-color {
    position: relative;
    top: 7px;
}

.big-box {
    width: 80px;
    height: 80px;
}