#row0 {animation: rotateTableRow 250ms ease 250ms 1 reverse both;}
#row1 {animation: rotateTableRow 250ms ease 500ms 1 reverse both;}
#row2 {animation: rotateTableRow 250ms ease 750ms 1 reverse both;}
#row3 {animation: rotateTableRow 250ms ease 1000ms 1 reverse both;}
#row4 {animation: rotateTableRow 250ms ease 1250ms 1 reverse both;}
#row5 {animation: rotateTableRow 250ms ease 1500ms 1 reverse both;}
#row6 {animation: rotateTableRow 250ms ease 1750ms 1 reverse both;}
#row7 {animation: rotateTableRow 250ms ease 2000ms 1 reverse both;}
#row8 {animation: rotateTableRow 250ms ease 2250ms 1 reverse both;}
#row9 {animation: rotateTableRow 250ms ease 2500ms 1 reverse both;}
#row10 {animation: rotateTableRow 250ms ease 2750ms 1 reverse both;}
#row11 {animation: rotateTableRow 250ms ease 3000ms 1 reverse both;}
#row12 {animation: rotateTableRow 250ms ease 3250ms 1 reverse both;}
#row13 {animation: rotateTableRow 250ms ease 3500ms 1 reverse both;}
#row14 {animation: rotateTableRow 250ms ease 3750ms 1 reverse both;}
#row15 {animation: rotateTableRow 250ms ease 4000ms 1 reverse both;}
#row16 {animation: rotateTableRow 250ms ease 4250ms 1 reverse both;}
#row17 {animation: rotateTableRow 250ms ease 4500ms 1 reverse both;}
#row18 {animation: rotateTableRow 250ms ease 4750ms 1 reverse both;}
#row19 {animation: rotateTableRow 250ms ease 5000ms 1 reverse both;}
#row20 {animation: rotateTableRow 250ms ease 5250ms 1 reverse both;}
#row21 {animation: rotateTableRow 250ms ease 5500ms 1 reverse both;}
#row22 {animation: rotateTableRow 250ms ease 5750ms 1 reverse both;}
#row23 {animation: rotateTableRow 250ms ease 6000ms 1 reverse both;}
#row24 {animation: rotateTableRow 250ms ease 6250ms 1 reverse both;}
#row25 {animation: rotateTableRow 250ms ease 6500ms 1 reverse both;}
#row26 {animation: rotateTableRow 250ms ease 6750ms 1 reverse both;}
#row27 {animation: rotateTableRow 250ms ease 7000ms 1 reverse both;}
#row28 {animation: rotateTableRow 250ms ease 7250ms 1 reverse both;}
#row29 {animation: rotateTableRow 250ms ease 7500ms 1 reverse both;}
#row30 {animation: rotateTableRow 250ms ease 7750ms 1 reverse both;}
#row31 {animation: rotateTableRow 250ms ease 8000ms 1 reverse both;}
#row32 {animation: rotateTableRow 250ms ease 8250ms 1 reverse both;}
#row33 {animation: rotateTableRow 250ms ease 8500ms 1 reverse both;}
#row34 {animation: rotateTableRow 250ms ease 8750ms 1 reverse both;}
#row35 {animation: rotateTableRow 250ms ease 9000ms 1 reverse both;}
#row36 {animation: rotateTableRow 250ms ease 9250ms 1 reverse both;}
#row37 {animation: rotateTableRow 250ms ease 9500ms 1 reverse both;}
#row38 {animation: rotateTableRow 250ms ease 9750ms 1 reverse both;}
#row39 {animation: rotateTableRow 250ms ease 10000ms 1 reverse both;}
#row40 {animation: rotateTableRow 250ms ease 10250ms 1 reverse both;}
#row41 {animation: rotateTableRow 250ms ease 10500ms 1 reverse both;}
#row42 {animation: rotateTableRow 250ms ease 10750ms 1 reverse both;}
#row43 {animation: rotateTableRow 250ms ease 11000ms 1 reverse both;}
#row44 {animation: rotateTableRow 250ms ease 11250ms 1 reverse both;}
#row45 {animation: rotateTableRow 250ms ease 11500ms 1 reverse both;}
#row46 {animation: rotateTableRow 250ms ease 11750ms 1 reverse both;}
#row47 {animation: rotateTableRow 250ms ease 12000ms 1 reverse both;}
#row48 {animation: rotateTableRow 250ms ease 12250ms 1 reverse both;}
#row49 {animation: rotateTableRow 250ms ease 12500ms 1 reverse both;}
