<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <link rel="stylesheet" href="baner.css">
    <script src="js/baner.js"></script>

</head>

<body onload="start()">

    <div id="container">
        <div id="banerDiv" style="background: linear-gradient(to bottom, #0066ff, #0000ff); color: #F5F5F5;">
            
            <div class="baner_element fade baner_text">
                <div class="baner_text_content"><a>Aktualności</a><br><a class="baner_line_small">WWW.NALFFUTSAL.PL</a></div>
            </div> 
            
            <div class="baner_element baner_text">
                <div class="baner_text_content"><a class="baner_line_big fade">Wyniki, terminarze, tabele</a><br><a class="baner_line_small">WWW.NALFFUTSAL.PL</a></div>
            </div> 
            
            <div class="baner_element baner_text">
                <div class="baner_text_content"><a class="baner_line_big fade">Statystyki indywidualne</a><br><a class="baner_line_small">WWW.NALFFUTSAL.PL</a></div>
            </div> 
            
            <div class="baner_element baner_text">
                <div class="baner_text_content"><a class="baner_line_big fade">Rekordy</a><br><a class="baner_line_small">WWW.NALFFUTSAL.PL</a></div>
            </div> 
            
            <div class="baner_element baner_text">
                <div class="baner_text_content"><a class="baner_line_big fade">Zapisy do ligi</a><br><a class="baner_line_small">WWW.NALFFUTSAL.PL</a></div>
            </div>  

        </div>

    </div>
</body></html>