<div id="sidebar">
    <div id="sidebar-head"></div>
    <div id="action-id" class="invisible-text"></div>
    <div id="sidebar-body">
        <div id="sidebar-body-div"></div>
        <div id="lista-elementow"><ul></ul><li><a href="#" onclick="processFile('20231213-204851___0-0_OBRONA.mp4')">04851___0-0_OBRONA</a></li><li><a href="#" onclick="processFile('20231213-205003___1-0_GOL.mp4')">05003___1-0_GOL</a></li><li><a href="#" onclick="processFile('20231213-205045___2-0_GOL.mp4')">05045___2-0_GOL</a></li><li><a href="#" onclick="processFile('20231213-205151___2-0_OBRONA.mp4')">05151___2-0_OBRONA</a></li><li><a href="#" onclick="processFile('20231213-205735___2-0_OBRONA.mp4')">05735___2-0_OBRONA</a></li><li><a href="#" onclick="processFile('20231213-205955___2-0_OBRONA.mp4')">05955___2-0_OBRONA</a></li><li><a href="#" onclick="processFile('20231213-210022___2-0_OBRONA.mp4')">10022___2-0_OBRONA</a></li><li><a href="#" onclick="processFile('20231213-210045___2-0_OBRONA.mp4')">10045___2-0_OBRONA</a></li><li><a href="#" onclick="processFile('20231213-210513___3-0_GOL.mp4')">10513___3-0_GOL</a></li></div><table>
            
        </table>
    </div>

    <div id="sidebar-footer"><button id="sidebar-cancel-button">Zamknij</button></div></div>