<!DOCTYPE html>
<html>
<head>
  {% block title %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base-staff.css') }}">
    {% block style %}{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datetimepicker.js') }}"></script>
  {% block header_script %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
          {% block sitename %}{% endblock %}
      </a>
    </div><br>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('settings.index') }}">Strona Główna</a></li>
    </ul>
  </div>
</nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; <span id="current-year"></span> NALFvideo. Wszelkie prawa nie są zastrzeżone.
    </footer>
    <script type="text/javascript">
        $(function () {
            $('#date_time').datetimepicker({
            useCurrent: false,
            format: 'YYYY-MM-DD HH:mm'
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
          var currentYear = new Date().getFullYear();
          var currentYearSpan = document.getElementById('current-year');
          currentYearSpan.textContent = currentYear.toString();
        });
    </script>
{% block footer_script %}{% endblock %}
</body>
</html>
