<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/endscreen.css')}}">
    <script src="js/endScene.js"></script>

</head>

<body onload="setup();">
	<div id="container">
		<div id="endScene">
			<div id="myTitle">NOWOHUCKA AMATORSKA LIGA FUTSALU</div>
			<div id="myTitle2">Dziękujemy za uwagę!</div>
			<div class="descryption" id="comment">KOMENTARZ</div>
			<div class="descryption2" id="comment2">
                {% for person in staff['commentator'] %}
                    <span> {{ person.first_name }} {{ person.last_name }}</span><br>
                {% endfor %}
            </div>
			<div class="descryption" id="camera">KAMERA</div>
			<div class="descryption2" id="camera2">
                {% for person in staff['cameraman'] %}
                    <span> {{ person.first_name }} {{ person.last_name }}</span><br>
                {% endfor %}
            </div>
			<div class="descryption" id="real">REALIZACJA</div>
			<div class="descryption2" id="real2">
                {% for person in staff['producer'] %}
                    <span> {{ person.first_name }} {{ person.last_name }}</span><br>
                {% endfor %}
            </div>
			<div class="descryption" id="music">MUZYKA</div>
			<div class="descryption2" id="music2">
                {% for person in staff['music'] %}
                    <span> {{ person.first_name }} {{ person.last_name }}</span><br>
                {% endfor %}
            </div>
        </div>
        <div id="footers">
<!--             <img src="{{url_for('static', filename='images/flask_logo.png')}}" class="image">
            <img src="{{url_for('static', filename='images/chatgpt-logo.png')}}" class="image"> -->
        </div>
	</div>
</body>
</html>