<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="ISO-8859" />
	<meta http-equiv="X-UA-Compatible"/>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/match.css') }}">
	<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
</head>

<body>
	<div id="matchdata" data-matchdata='{{ matchdata | tojson | safe }}' style="display: none;"></div>
	<div id="time-data" data-time-data='{{ time_data | tojson | safe }}' style="display: none;"></div>
	<div id="container">
		<div id="scoreboard">
			<div id="time" class="stream-time-display item time-item"></div>
			<div id="added-time" class="added-time-item">+3</div>
			<div class="item team-item">
				<div id="fouls-a-value" class="fouls-item"></div>
				<div id="team_a" class="name-item"></div>
				<div id="tricot_a" class="tricots-item">
					<div id="shade_a"></div>
					<div id="colors_a"></div>
				</div>
			</div>
			<div id="score-a-value" class="item score-item"></div>
			<div id="score-b-value" class="item score-item"></div>
			<div class="item team-item">
				<div id="fouls-b-value" class="fouls-item"></div>
				<div id="team_b" class="name-item"></div>
				<div id="tricot_b" class="tricots-item">
					<div id="shade_b"></div>
					<div id="colors_b"></div>
				</div>
			</div>
		</div>
		<div id="action_info">
			<div id="action_info_text">

            </div>
		</div>
	</div>



	<script src="{{url_for('static', filename='js/common.js')}}"></script>
	<script src="{{url_for('static', filename='js/timer-utils.js')}}"></script>
	<script src="{{url_for('static', filename='js/match.js')}}"></script>
	<script src="{{url_for('static', filename='js/socketio.js')}}"></script>
</body>
</html>
