<div id="sidebar">
    <div id="sidebar-head"></div>
    <div id="action-id" class="invisible-text"></div>
    <div id="sidebar-body">
        <div id="sidebar-body-div">

            <select id="select-actions" onchange="updatePlayersList()">
                {% for action in data['actions'] %}
                    <option value="{{ action }}" {% if action ==  data.event.action_id  %}selected{% endif %}>{{ data['actions'][action] }}</option>
                {% endfor %}
            </select>

            <select id="select-players-normal" class="invisible">
                {% for player in data['players']['normal'] %}
                    <option value="{{ player.id }}">{{ player.full_name }}</option>
                {% endfor %}
            </select>

            <select id="select-players-og" class="invisible">
                {% for player in data['players']['og'] %}
                    <option value="{{ player.id }}">{{ player.full_name }}</option>
                {% endfor %}
            </select>

            <select id="select-players">
                {% if data['event']['action_id'] == 4 %}
                    {% for player in data['players']['og'] %}
                    <option value="{{ player.id }}" {% if player.id ==  data.event.player_id  %}selected{% endif %}>{{ player.full_name }}</option>
                    {% endfor %}
                {% else %}
                    {% for player in data['players']['normal'] %}
                    <option value="{{ player.id }}" {% if player.id ==  data.event.player_id  %}selected{% endif %}>{{ player.full_name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <div>
                <input id="action-minute" type="number" name="minutes" min="0" style="width: 50px;" value="{{ data.event.time.minutes }}">
                <input id="action-second" type="number" name="seconds" min="0" style="width: 50px;" value="{{ data.event.time.seconds }}">
            </div>
            <div>
                <input 
                    id="action-hide" 
                    type="checkbox" 
                    name="hide" 
                    value="1" 
                    {% if data.event.is_hided == 1 %}checked{% endif %}> Ukryj zdarzenie
            </div>
            <button onclick="updateData({{ data.event.data_id }})">Zapisz</button>
            <button ondblclick="deleteData({{ data.event.data_id }})">Usuń</button>
            <button onclick="clearSidebar()">Zamknij</button>
        </div>
        <table>
            <tbody id="elements"></tbody>
        </table>
    </div>

    <div id="sidebar-footer"></div>
</div>