<!DOCTYPE html>
<html>
  <head>
    <title>Przyciski</title>
    <link rel="stylesheet" href="panel.css">
  </head>
  <body>
    <div id="box-fouls-a" class="score-fouls-box">
        <div class="label-fouls">0</div>
        <button class="button square">+</button>
        <button class="button rectangle"></button>
    </div>
    <div id="box-score-a" class="score-fouls-box">
        <div class="label-score">0</div>
        <button class="button square">+</button>
        <button class="button rectangle"></button>
    </div>
    <div id="box-score-b" class="score-fouls-box">
        <div class="label-score">0</div>
        <button class="button square">+</button>
        <button class="button rectangle"></button>
    </div>
    <div id="box-fouls-b" class="score-fouls-box">
        <div class="label-fouls">0</div>
        <button class="button square">+</button>
        <button class="button rectangle"></button>
    </div><div style="clear: both;"></div>
    <div class="box-team"></div>
    <div class="box-team"></div>

  </body>
</html>
