<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="ISO-8859" />
	<meta http-equiv="X-UA-Compatible"/>
	<link rel="stylesheet" href="/static/css/base-bars.css">
	
    <link rel="stylesheet" href="/static/css/base-stream.css">
    <link rel="stylesheet" href="/static/css/base-stream.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/tableAnimation.css">
    <link rel="stylesheet" href="/static/css/rotateTableRow.css">

	
	<!-- <script src="js/teams.js"></script>
	<script src="js/processing.js"></script> -->

</head>

<body onload="matchInfo();">
	<div id="container">
		<div id="top_bar">
			<img src="/static/images/NALFlogoTekst.png" id="img_top">
			<div id="league"></div>
			<div id="division"></div>
		</div>
		<div id="team_screen_content">
            
    <div id="schedule">
        <table class="timeline_table">
            <thead>
                <tr id="content-title"><td colspan="20"
                                           class="text-overflow title-row">
                    Puchar Ligi - Tabela</td></tr>
                <tr class="class_header">
                    <td></td>
                    <td></td>
                    <td>M</td>
                    <td>Z</td>
                    <td>R</td>
                    <td>P</td>
                    <td>GZ</td>
                    <td>GS</td>
                    <td>+/-</td>
                    <td>Pkt</td>
                </tr>
            </thead>
            <tbody>
                
                    
                        
                            <tr class="even" id="row1">
                        
                        <td class="team_pos">1</td>
                        <td class="team_name">Hattrick</td>
                        <td class="matches">2</td>
                        <td class="wins">2</td>
                        <td class="ties">0</td>
                        <td class="losses">0</td>
                        <td class="goals_scored">17</td>
                        <td class="goals_lost">4</td>
                        <td class="goals_difference">13</td>
                        <td class="points">6</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row2">
                        
                        <td class="team_pos">2</td>
                        <td class="team_name">Boanerges</td>
                        <td class="matches">1</td>
                        <td class="wins">1</td>
                        <td class="ties">0</td>
                        <td class="losses">0</td>
                        <td class="goals_scored">12</td>
                        <td class="goals_lost">2</td>
                        <td class="goals_difference">10</td>
                        <td class="points">3</td>
                    </tr>
                    
                        
                            <tr class="even" id="row3">
                        
                        <td class="team_pos">3</td>
                        <td class="team_name">Brotherm</td>
                        <td class="matches">1</td>
                        <td class="wins">1</td>
                        <td class="ties">0</td>
                        <td class="losses">0</td>
                        <td class="goals_scored">11</td>
                        <td class="goals_lost">1</td>
                        <td class="goals_difference">10</td>
                        <td class="points">3</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row4">
                        
                        <td class="team_pos">4</td>
                        <td class="team_name">IGLOMEN&amp;RodzinneRestauracje</td>
                        <td class="matches">1</td>
                        <td class="wins">1</td>
                        <td class="ties">0</td>
                        <td class="losses">0</td>
                        <td class="goals_scored">14</td>
                        <td class="goals_lost">5</td>
                        <td class="goals_difference">9</td>
                        <td class="points">3</td>
                    </tr>
                    
                        
                            <tr class="even" id="row5">
                        
                        <td class="team_pos">5</td>
                        <td class="team_name">Żarłacze</td>
                        <td class="matches">1</td>
                        <td class="wins">1</td>
                        <td class="ties">0</td>
                        <td class="losses">0</td>
                        <td class="goals_scored">5</td>
                        <td class="goals_lost">0</td>
                        <td class="goals_difference">5</td>
                        <td class="points">3</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row6">
                        
                        <td class="team_pos">6</td>
                        <td class="team_name">Ukrainian Legion</td>
                        <td class="matches">1</td>
                        <td class="wins">1</td>
                        <td class="ties">0</td>
                        <td class="losses">0</td>
                        <td class="goals_scored">5</td>
                        <td class="goals_lost">1</td>
                        <td class="goals_difference">4</td>
                        <td class="points">3</td>
                    </tr>
                    
                        
                            <tr class="even" id="row7">
                        
                        <td class="team_pos">7</td>
                        <td class="team_name">Trivium Słomniki Warriors</td>
                        <td class="matches">1</td>
                        <td class="wins">1</td>
                        <td class="ties">0</td>
                        <td class="losses">0</td>
                        <td class="goals_scored">6</td>
                        <td class="goals_lost">3</td>
                        <td class="goals_difference">3</td>
                        <td class="points">3</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row8">
                        
                        <td class="team_pos">8</td>
                        <td class="team_name">MK Team</td>
                        <td class="matches">1</td>
                        <td class="wins">1</td>
                        <td class="ties">0</td>
                        <td class="losses">0</td>
                        <td class="goals_scored">3</td>
                        <td class="goals_lost">2</td>
                        <td class="goals_difference">1</td>
                        <td class="points">3</td>
                    </tr>
                    
                        
                            <tr class="even" id="row9">
                        
                        <td class="team_pos">9</td>
                        <td class="team_name">Laga Bonito</td>
                        <td class="matches">2</td>
                        <td class="wins">1</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">6</td>
                        <td class="goals_lost">8</td>
                        <td class="goals_difference">-2</td>
                        <td class="points">3</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row10">
                        
                        <td class="team_pos">10</td>
                        <td class="team_name">Nowy Ład</td>
                        <td class="matches">2</td>
                        <td class="wins">1</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">16</td>
                        <td class="goals_lost">21</td>
                        <td class="goals_difference">-5</td>
                        <td class="points">3</td>
                    </tr>
                    
                        
                            <tr class="even" id="row11">
                        
                        <td class="team_pos">11</td>
                        <td class="team_name">Amiz Transport Złote Chłopaki</td>
                        <td class="matches">1</td>
                        <td class="wins">0</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">2</td>
                        <td class="goals_lost">3</td>
                        <td class="goals_difference">-1</td>
                        <td class="points">0</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row12">
                        
                        <td class="team_pos">12</td>
                        <td class="team_name">Nowohucki Klub Sportowy</td>
                        <td class="matches">1</td>
                        <td class="wins">0</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">1</td>
                        <td class="goals_lost">2</td>
                        <td class="goals_difference">-1</td>
                        <td class="points">0</td>
                    </tr>
                    
                        
                            <tr class="even" id="row13">
                        
                        <td class="team_pos">13</td>
                        <td class="team_name">eNHa II</td>
                        <td class="matches">1</td>
                        <td class="wins">0</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">3</td>
                        <td class="goals_lost">5</td>
                        <td class="goals_difference">-2</td>
                        <td class="points">0</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row14">
                        
                        <td class="team_pos">14</td>
                        <td class="team_name">DRUGony</td>
                        <td class="matches">1</td>
                        <td class="wins">0</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">3</td>
                        <td class="goals_lost">6</td>
                        <td class="goals_difference">-3</td>
                        <td class="points">0</td>
                    </tr>
                    
                        
                            <tr class="even" id="row15">
                        
                        <td class="team_pos">15</td>
                        <td class="team_name">Galactik Futsal</td>
                        <td class="matches">1</td>
                        <td class="wins">0</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">0</td>
                        <td class="goals_lost">5</td>
                        <td class="goals_difference">-5</td>
                        <td class="points">0</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row16">
                        
                        <td class="team_pos">16</td>
                        <td class="team_name">Popalone Styki</td>
                        <td class="matches">1</td>
                        <td class="wins">0</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">6</td>
                        <td class="goals_lost">13</td>
                        <td class="goals_difference">-7</td>
                        <td class="points">0</td>
                    </tr>
                    
                        
                            <tr class="even" id="row17">
                        
                        <td class="team_pos">17</td>
                        <td class="team_name">WKS Futsal Team</td>
                        <td class="matches">1</td>
                        <td class="wins">0</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">5</td>
                        <td class="goals_lost">14</td>
                        <td class="goals_difference">-9</td>
                        <td class="points">0</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row18">
                        
                        <td class="team_pos">18</td>
                        <td class="team_name">eNHa</td>
                        <td class="matches">1</td>
                        <td class="wins">0</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">2</td>
                        <td class="goals_lost">12</td>
                        <td class="goals_difference">-10</td>
                        <td class="points">0</td>
                    </tr>
                    
                        
                            <tr class="even" id="row19">
                        
                        <td class="team_pos">19</td>
                        <td class="team_name">Drink Team</td>
                        <td class="matches">1</td>
                        <td class="wins">0</td>
                        <td class="ties">0</td>
                        <td class="losses">1</td>
                        <td class="goals_scored">1</td>
                        <td class="goals_lost">11</td>
                        <td class="goals_difference">-10</td>
                        <td class="points">0</td>
                    </tr>
                    
                

            </tbody>
        </table>
    </div>

        </div>

		<div id="bottom_bar">
			<img src="/static/images/druzyny-logo-belka.png" id="img_bottom">
		</div>
	</div>
	<script src="/static/js/base.js"></script>
	
</body>
</html>