<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="ISO-8859" />
	<meta http-equiv="X-UA-Compatible"/>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/base-bars.css">
	
    <link rel="stylesheet" href="/static/css/base-stream.css">
    <link rel="stylesheet" href="/static/css/base-stream.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/tableAnimation.css">
    <link rel="stylesheet" href="/static/css/rotateTableRow.css">

	<!-- <script src="js/teams.js"></script>
	<script src="js/processing.js"></script> -->

</head>

<body onload="matchInfo();">
	<div id="container">
		<div id="top_bar">
			<img src="/static/images/NALFlogoTekst.png" id="img_top">
			<div id="league"></div>
			<div id="division"></div>
		</div>
		<div id="team_screen_content">
            
    <div id="schedule">
        <table class="timeline_table">
            <thead>
                <tr id="content-title"><td colspan="20"
                                           class="text-overflow title-row">
                    Dywizja B - Tabela</td></tr>
                <tr class="class_header">
                    <td></td>
                    <td></td>
                    <td>M</td>
                    <td>Z</td>
                    <td>R</td>
                    <td>P</td>
                    <td>GZ</td>
                    <td>GS</td>
                    <td>+/-</td>
                    <td>Pkt</td>
                </tr>
            </thead>
            <tbody>
                
                    
                        
                            <tr class="even" id="row1">
                        
                        <td class="team_pos">1</td>
                        <td class="team_name">Amiz Transport Złote Chłopaki</td>
                        <td class="matches">10</td>
                        <td class="wins">10</td>
                        <td class="ties">0</td>
                        <td class="losses">0</td>
                        <td class="goals_scored">63</td>
                        <td class="goals_lost">22</td>
                        <td class="goals_difference">41</td>
                        <td class="points">30</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row2">
                        
                        <td class="team_pos">2</td>
                        <td class="team_name">Żarłacze</td>
                        <td class="matches">10</td>
                        <td class="wins">7</td>
                        <td class="ties">1</td>
                        <td class="losses">2</td>
                        <td class="goals_scored">62</td>
                        <td class="goals_lost">42</td>
                        <td class="goals_difference">20</td>
                        <td class="points">22</td>
                    </tr>
                    
                        
                            <tr class="even" id="row3">
                        
                        <td class="team_pos">3</td>
                        <td class="team_name">Laga Bonito</td>
                        <td class="matches">10</td>
                        <td class="wins">7</td>
                        <td class="ties">0</td>
                        <td class="losses">3</td>
                        <td class="goals_scored">57</td>
                        <td class="goals_lost">27</td>
                        <td class="goals_difference">30</td>
                        <td class="points">21</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row4">
                        
                        <td class="team_pos">4</td>
                        <td class="team_name">Nowy Ład</td>
                        <td class="matches">10</td>
                        <td class="wins">6</td>
                        <td class="ties">2</td>
                        <td class="losses">2</td>
                        <td class="goals_scored">69</td>
                        <td class="goals_lost">38</td>
                        <td class="goals_difference">31</td>
                        <td class="points">20</td>
                    </tr>
                    
                        
                            <tr class="even" id="row5">
                        
                        <td class="team_pos">5</td>
                        <td class="team_name">Hattrick</td>
                        <td class="matches">10</td>
                        <td class="wins">6</td>
                        <td class="ties">2</td>
                        <td class="losses">2</td>
                        <td class="goals_scored">63</td>
                        <td class="goals_lost">34</td>
                        <td class="goals_difference">29</td>
                        <td class="points">20</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row6">
                        
                        <td class="team_pos">6</td>
                        <td class="team_name">Nowohucki Klub Sportowy</td>
                        <td class="matches">10</td>
                        <td class="wins">4</td>
                        <td class="ties">0</td>
                        <td class="losses">6</td>
                        <td class="goals_scored">36</td>
                        <td class="goals_lost">47</td>
                        <td class="goals_difference">-11</td>
                        <td class="points">12</td>
                    </tr>
                    
                        
                            <tr class="even" id="row7">
                        
                        <td class="team_pos">7</td>
                        <td class="team_name">eNHa</td>
                        <td class="matches">10</td>
                        <td class="wins">3</td>
                        <td class="ties">2</td>
                        <td class="losses">5</td>
                        <td class="goals_scored">36</td>
                        <td class="goals_lost">51</td>
                        <td class="goals_difference">-15</td>
                        <td class="points">11</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row8">
                        
                        <td class="team_pos">8</td>
                        <td class="team_name">Drink Team</td>
                        <td class="matches">10</td>
                        <td class="wins">3</td>
                        <td class="ties">1</td>
                        <td class="losses">6</td>
                        <td class="goals_scored">33</td>
                        <td class="goals_lost">38</td>
                        <td class="goals_difference">-5</td>
                        <td class="points">10</td>
                    </tr>
                    
                        
                            <tr class="even" id="row9">
                        
                        <td class="team_pos">9</td>
                        <td class="team_name">eNHa II</td>
                        <td class="matches">10</td>
                        <td class="wins">3</td>
                        <td class="ties">0</td>
                        <td class="losses">7</td>
                        <td class="goals_scored">37</td>
                        <td class="goals_lost">51</td>
                        <td class="goals_difference">-14</td>
                        <td class="points">9</td>
                    </tr>
                    
                        
                            <tr class="odd" id="row10">
                        
                        <td class="team_pos">10</td>
                        <td class="team_name">Galactik Futsal</td>
                        <td class="matches">11</td>
                        <td class="wins">2</td>
                        <td class="ties">1</td>
                        <td class="losses">8</td>
                        <td class="goals_scored">52</td>
                        <td class="goals_lost">70</td>
                        <td class="goals_difference">-18</td>
                        <td class="points">7</td>
                    </tr>
                    
                        
                            <tr class="even" id="row11">
                        
                        <td class="team_pos">11</td>
                        <td class="team_name">Popalone Styki</td>
                        <td class="matches">11</td>
                        <td class="wins">0</td>
                        <td class="ties">1</td>
                        <td class="losses">10</td>
                        <td class="goals_scored">27</td>
                        <td class="goals_lost">115</td>
                        <td class="goals_difference">-88</td>
                        <td class="points">1</td>
                    </tr>
                    
                

            </tbody>
        </table>
    </div>

        </div>

		<div id="bottom_bar">
			<img src="/static/images/druzyny-logo-belka.png" id="img_bottom">
		</div>
	</div>
	<script src="/static/js/base.js"></script>
	
</body>
</html>