{% extends "base-bars.html" %}
{% block content %}
        <div id="scorebarNlogos">
            <div id="score_bar">
                <img src="gfx/belka_wynik_przerwa_2.png" id="score_bg">
                <div id="score_a"></div>
                <div id="score_b"></div>
            </div>
				<div class="team_logo" id="team_a_logo">
					<img src="gfx/logoaC.png" class="logo">
				</div>
				<div class="team_logo" id="team_b_logo" >
					<img src="gfx/logobC.png" class="logo">
                </div>
        </div>

		<div id="strikers">
				<div id="strikers_a">

				</div>
                <div class="cleaner"></div>
				<div id="strikers_b">

				</div>
				<div class="cleaner"></div>
			</div>
{% endblock %}