<div class="team-stats-buttons-container">
    <button class="stats-button" onclick="fetchDataAndRender('table')">Tabela, Mecze, Forma Bramki</button><br>
    <button class="stats-button" onclick="fetchDataAndRender('results')">Najwyższe wyniki</button><br>
    <button class="stats-button" onclick="fetchDataAndRender('average')">Średnie punktów i bramek</button><br>
    <button class="stats-button" onclick="fetchDataAndRender('players')">Najlepsi strzelcy itd</button><br>
    <button class="stats-button" onclick="fetchDataAndRender('best5')">Najwięcej w 5 kolejki</button><br>
    <button class="stats-button" onclick="fetchDataAndRender('cards')">Kartki</button><br>
</div>